{% extends "base.html" %}
{% block title %}Index {{ super() }} {% endblock %}
{% block content %}

<p>
    {% if name and age %}
    名前： {{name}}
    年齢： {{age}}
    {% else %}
    名前、年齢を入力してください
    {% endif %}
</p>

<form method="POST">
    <!--
    クロスサイトリクエストフォージェリ(CSRF)対策で入力フォームを表示する
        form.name.label: class UserFormでnameに付けた文字列がラベルとして表示される
        form.name: 入力フォーム
    -->
    {{ form.csrf_token }}
    {{ form.name.label}} {{ form.name()}}
    {{ form.age.label}} {{ form.age()}}
    {{ form.submit() }}
</form>

{% endblock %}